

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Tratamientos</h2>

<p>
    <a class="btn btn-primary" data-toggle="modal" data-target="#Ingreso_Tratamiento">Nuevo Equipamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre del Tratamiento
            </th>
            <th>
               Costo del Tratamiento
            </th>
            


            <th></th>
        </tr>
    </thead>
    <tbody id="Cuerpo_Tratamiento"></tbody>
</table>

<div class="modal fade" id="Ingreso_Tratamiento" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Ingreso de Tratamientos
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="TratamientoId" id="TratamientoId" />
                    <div class="form-group">
                        <label class="control-label">Ingrese el  </label>
                        <input id="Nombre" name="Nombre" class="form-control"
                               type="text" placeholder="Ingrese el Nombre del Tratamiento " />

                    </div>
                    <div class="form-group">
                        <label class="control-label">Ingrese el Costo del Tratamiento</label>
                        <input id="Costo" ty name="Costo" class="form-control"
                               type="number" placeholder="Ingrese el Costo del tratamiento" />

                    </div>
                    

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Cerrar</button>
                <button id="graba" type="button" class="btn btn-primary" onclick="nuevo_Tratamiento()">Guardar</button>
            </div>
        </div>
    </div>
</div>
