
@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Consultorios</h2>

<p>
    <a class="btn btn-primary" data-toggle="modal" data-target="#Ingreso_Consultorio">Nuevo Consultorio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Numero
            </th>
            

            <th></th>
        </tr>
    </thead>
    <tbody id="Cuerpo_Consultorio"></tbody>
</table>

<div class="modal fade" id="Ingreso_Consultorio" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Ingreso de Consultorio
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="ConsultoriosId" id="ConsultoriosId" />
                    <div class="form-group">
                        <label class="control-label">Numero de Consultorio</label>
                        <input id="Numero" name="Numero" class="form-control"
                               type="text" placeholder="Ingrese el Numero del Consultorio" />
                       
                    </div>

                    


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Cerrar</button>
                <button id="graba" type="button" class="btn btn-primary" onclick="nuevo_Consultorio()">Guardar</button>
            </div>
        </div>
    </div>
</div>